@import 'src/@fuse/scss/fuse';



.mat-tab-labels{
  justify-content: center; /* align items in Main Axis */
}


  .mat-tab-header {
    background-color: #03a9f4;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .mat-tab-label {
    color: white !important;
    font-size: 14px !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
  }
  .mat-ink-bar {
    color: white !important;
    background-color: white !important;
  }
  .mat-tab-label-active {
    color: white !important;
    opacity: 1 !important;
  }


.appqos-button-1 {
  position: fixed !important;
  left: 1% !important;
  bottom: 2% !important;
  z-index: 99;


}
.appqos-button-2:enabled {
  position: fixed !important;
  left: 5% !important;
  bottom: 2% !important;
  z-index: 99;
  background-color: #651FFF;

}
.appqos-button-2:disabled {
  position: fixed !important;
  left: 5% !important;
  bottom: 2% !important;
  z-index: 99;

}

.appqos-button-3 {
  position: fixed !important;
  left: 9% !important;
  bottom: 2% !important;
  z-index: 99;

}
.addapp-button:enabled {
  position: fixed !important;
  left: 13% !important;
  bottom: 2% !important;
  z-index: 99;
  background-color: #4caf50;

}

.example-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
}

