
<button mat-fab color="accent" [ngClass]="{'appqos-button-1': true}"
        disabled
        [disabled]="!appAssignButton"
        matTooltip="Assign App"
        (click) = "onClickAssignApp()"
        >
  <mat-icon class="mat-36" aria-label="Assign App">cloud_done</mat-icon>
</button>
<button mat-fab [ngClass]="{'appqos-button-2': true}"
        disabled
        [disabled]="!appMoveButton"
        matTooltip="Move App"
        (click)="onClickMoveApp()"
>
  <mat-icon class="mat-36" aria-label="Move App">cloud_upload</mat-icon>
</button>
<button mat-fab color="warn" [ngClass]="{'appqos-button-3': true}"
        disabled
        [disabled]="!appUnassignButton"
        matTooltip="Unassign App"
        (click)="onClickUnassignApp()"
>
  <mat-icon class="mat-36" aria-label="Unassign App">cloud_off</mat-icon>
</button>





<div class="content p-24" style="display: flex;flex: 0 0 auto;
    flex-direction: column;height: 90%;width: 90%;margin: auto;overflow: auto;position: relative;" fusePerfectScrollbar>

      <mat-card role="group">
        <mat-card-content>
        <!--  <div class="content p-24" fusePerfectScrollbar style="overflow: auto;
          position: relative;display: flex;height: 90%;">-->
      <mat-tab-group>

        <mat-tab label="PRE-DEFINED APPS">




          <div class="content p-24" style="overflow: auto;display: flex;position: relative;flex: 0 0 auto;
          flex-direction: column;width: 90%;margin: auto;">

          <fuse-predefined
            (rowSelect) = "onButtonDisplay($event)">

          </fuse-predefined>

          </div>

        </mat-tab>


    <mat-tab label="CUSTOM APPS">
     <div class="content p-24" style="overflow: auto;display: flex;position: relative;flex: 0 0 auto;
          flex-direction: column;width: 90%;margin: auto;">

      </div>
    </mat-tab>

    </mat-tab-group>
          <!--/div>-->
        </mat-card-content>
      </mat-card>
  </div>

