@import 'src/@fuse/scss/fuse';



.mat-tab-labels{
  justify-content: center; /* align items in Main Axis */
}


  .mat-tab-header {
    background-color: #03a9f4;
  }
  .mat-tab-label {
    color: white !important;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  .mat-ink-bar {
    color: white !important;
    background-color: white !important;
  }
  .mat-tab-label-active {
    color: white !important;
    opacity: 1 !important;
  }



